.add-item1,.add-sub-item1, .add-name1, .remove-item1, .remove-sub-item1, .remove-name1{
    background-color: #eee;
    border: 2px dashed black;
    border-radius:10px;
    width: 80%;
    height: 40px;
    font-size: 24px;
    font-family: 'Aclonica';
    cursor: pointer;
    padding-right: 10px;;
    padding-top: 5px;
    padding-bottom: 5px;
}
.name-item1{
    width:97%;
    height: 40px;
    font-size: 20px;
    font-family: 'Aclonica';
    margin-top: 10px;
    padding-right: 1px;
}